/* Start Global Variables */
/* Start containers */
.special-heading
{
    margin: 0;
    text-align: center;
    color: #ebeced;
    font-size: 100px;
    letter-spacing: -3px;
}
.special-heading + p 
{
    text-align: center;
    margin: -30px;
    color: #777;
    font-weight: 400;
    font-size: 18px;
}
/* End containers */

*{
--webkit-box-sizing:border-box  ;
--moz-box-sizing:border-box  ;
 box-sizing: border-box;

}
:root
{
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
html{
    scroll-behavior: smooth;
  }
body
{
    font-family: 'Work Sans', sans-serif;
}

ul
{
  list-style: none;
  padding: 0;
  text-decoration: none;
  margin: 0;
}
.parent
{
    background-color: #eee;
}
.container
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Extra small */
@media (min-width:320px)
{
    .container
    {
        width:300px;
    }
    .special-heading
    {
         font-size: 60px; 
    }
    .special-heading + p 
    {
    margin-top: -20px;
    }
}
/* Small */
@media (min-width:767px)
{
    .container
    {
        width:750px;
    }

}
/* Large */
@media (min-width:992px)
{
    .container
    {
        width:970px;
    }
}
/* Meduiem */
@media (min-width:1200px)
{
    .container
    {
        width:1170px;
    }
    .special-heading
    {
        font-size: 100px;
    }
}
/* End Global Variables */
/* Statr Header */

.header .container
{
    display: flex;
    padding:20px;
    justify-content: space-between;
    align-items: center;;
}
.header .logo
{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links .icon
{
    width: 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;
}
.header .links .icon span{
    margin-bottom: 5px;
    background-color: #222;
}
.header .links .icon span:first-child{
   height: 2px;
   width: 100%;
}
.header .links .icon span:nth-child(2){
    height: 2px;
    width: 60%;
    transition: 0.3s ;
 }
 .header .links .icon span:last-child{
    height: 2px;
   width: 100%;

 }
 .header .links:hover .icon  span:nth-child(2)
{
 width: 100%;
}
.header .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    min-width: 200px;
    background-color: #f2f2f2;
    text-decoration: none;
    top: calc(100% + 15px);
    display: none; 
    
}
.header .links:hover ul
{
    z-index: 1;
   display: block;
}
.header .links ul::before {
    content: '';
    content: '';
    border-width: 10px
;
    border-style: solid;
    border-color: transparent transparent #f2f2f2 transparent;
    position: absolute;
    right: 5px
;
    top: -20px
;
}
.header .links ul li a 
{
    display: block;
    text-decoration: none;
    padding:15px;
    color:#333;
    transition:0.3s
}
.header .links ul li a:hover 
{
    padding-left: 25px;
}
.header .links ul li:not(last-child) a 
{
   border-bottom: 1px solid #ddd;
}
.landing{
    background-image: url('/images/landing.jpg');
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    
}
.landing .intro-text  {
    position: absolute;
    top:50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1  {
    text-transform: capitalize;
    margin: 0;
    font-size: 50px;
    color:   var(--main-color)
}
.landing .intro-text p
{
  font-size: 19px;
  line-height: 1.8;
}
/* End Header */

/* Start Feature */
.features
{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.features .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features  .feat
{
    padding:20px;
    text-align: center;
}
.features .feat h3
{
    text-transform: capitalize;
    font-weight: 800;
    margin: 30px 0;
}
.features .feat i
{
    color: var(--main-color);
}
.features .feat p
{
    letter-spacing: 1px;
    line-height: 1.8;
    color:#777;
}

/* End Feature */
/* Start Services  */
.services
{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}
.services .services-content
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top:120px;
}
.services .services-content .srv
{
    display: flex;
    margin-bottom: 30px;
}

.services .srv  i 
{
color:var(--main-color);
flex-basis: 60px;
}
.services .text 
{
 flex:1
}
.services .text h3
{
margin:0 0 20px
}
.services .text p 
{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .image
{
    text-align: center;
    position: relative;
}
.services .image img{
    width: 260px;
}
.services .image-column::before
{
    content: '';
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    top:-50px;
    right: 0;
    background-color: var(--secondary-color);
    z-index: -1;
}
@media (max-width:767px) {
 .services .services-content .srv
    {
        text-align: center;
       flex-direction: column;
    }
   
}
@media (max-width: 1033px)
{
.image-column {
    display: none;
}
}
 /* End Services  */
 /* start Portofolio */
 .portofolio
 {
     background-color: var(--section-background);
     padding-top: var(--section-padding);
     padding-bottom: var(--section-padding);
 }
 .portofolio .row
 {
     display: grid;
     margin-top: 100px;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     grid-gap: 30px;
 }
 .portofolio .pro
 {
  
    text-align: center;
    background-color: white;
 }
 .portofolio .pro img
 {
    max-width: 100%;
    
 }
 .portofolio  .text  
 {
    text-align: left;
    padding-left:20px;
    margin-top: 24px;
    margin-bottom: 24px

    ;
 }
 .portofolio  .text   h3
 {
    
 }
 .portofolio  .text   p
 {
    color: #777;
 }

 .portofolio  .text  h3
 {
    margin: 0;
 }
 /* End  Portofolio */
/* Start About */
.about
{
    padding-top: var(--section-padding);
    padding-bottom:  calc(var(--section-padding) + 60px);

}
.about .about-content
{
     display: flex;
     margin-top: 100px;
     flex-wrap: wrap;
     justify-content: space-between;

}
@media (max-width:813px) {
    .about .about-content
{
    flex-direction: column;
    text-align: center;


}
}
.about .image
{
    position: relative;
    width: 260px;
    height: 375;
}
@media (max-width:813px) {
    .about .image
{
    margin: 0 auto 80px;
    width: 300px;
    height: 375;

}
.about .image::before,
.about .image::after
{
    display: none;
}
}
.about .image img{

    max-width: 100%;
}

.about .image::before
{
    content: '';
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    top:-40px;
    left: -20px;
    background-color:#ebeced;
    z-index: -1;
}
.about .image::after {
            content: '';
            position: absolute;
            width: 120px;
            height: 310px;
            border-left: 80px solid var(--main-color);
            border-bottom: 80px solid var(--main-color);
            z-index: -1;
            top: -40px;
            right: -160px;
}
@media (max-width:813px) {
    .about .about-content
{
    flex-direction: column;
    text-align: center;

}
}
.about .about-content .text
{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-child
{    font-weight: 600;
    line-height: 1.8;
    font-size: 15px;
    padding-bottom: 50px
;}
.about .about-content .text p:last-child
{    
    color:#777;
    line-height: 1.9;
}
.about .about-content .text hr
{    
    border-color: var(--main-color);
    width: 70%;
    display: inline-block;
}
/* End About */


